{% extends '::base.html.twig' %}
{% block menuActI %}{% endblock %}
{% block menuActE %}class="active"{% endblock %}
{% block menuActP %}{% endblock %}
{% block menuLateral %}  
<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Envios</li>
              <li class="active"><a href="{{ path ('envios') }}">Listar</a></li>
              <li><a href="{{ path ('envios_cargar') }}">Cargar</a></li>
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
{% endblock %}
{% block body -%}
    <h1>Lista</h1>
   
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rut</th>
                <th>Nombre - Apellido</th>               
                <th>Fono</th>               
                <th>Status</th>
                <th>Fecha</th>
                <th>Codigo</th>
                <th>PersonaID</th>
                <th>OfertaID</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('envios_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.rut }}</td>
                <td>{{ entity.nombre }} {{ entity.apellido }}</td>             
                <td>{{ entity.fono }}</td>                
                <td>{{ entity.status }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.personaid }}</td>
                <td>{{ entity.avisoid }}</td>
                <td>
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a class="btn" href="{{ path('envios_show', { 'id': entity.id }) }}" title="Ver" alt="Ver"><i class=" icon-edit"></i></a>
                        {% if entity.status ==2 %}
                    
                        <a class="btn" href="{{ path('postulacion_byenvio', { 'id': entity.id }) }}" title="Postulaciones" alt="Postulaciones"><i class="icon-th-list"></i></a>
                   
                    {% endif %}
                </div>  </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    {% endblock %}
